{% extends 'base.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">

{% block title %}MoneyManager | Change Password{% endblock %}

{% block content %}
<div class="container-fluid px-3">
    <br>
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8 col-sm-10 col-12">
            <div class="card shadow-sm mt-2">
                <div class="card-header text-center geo-color-bar text-general-geo">
                    <span class="title-geo" style="color: white">
                        Change Password Menu
                    </span>
                </div>
                <form method="POST" class="p-3">
                    <div class="card-body mb-3 text-general-geo">
                        {% csrf_token %}
                        {{ form }}
                    </div>
                    <div class="text-center mb-1 text-general-geo">
                        <button type="submit" class="btn btn-outline-danger px-4">Change Password</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
