{% extends 'base.html' %}

{% block title %}MoneyManager Change Password{% endblock %}

{% block content %}
     <div class="container">
        <div class="row">
            <div class="col-md-8 offset-2 mt-2 py-2">
                <h2 class="text-general-geo">In a short time you will receive a message on email with your reset link password!</h2>
                <a class="btn btn-outline-success rounded-pill" href="{% url 'homepage' %}">Back to homepage</a>
            </div>
        </div>
     </div>
{% endblock %}