{% extends 'base.html' %}

{% block title %}MoneyManager Change Password{% endblock %}

{% block content %}
<div class="container-fluid px-3">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8 col-sm-10 col-12 mt-2 py-2 text-center">
            <h2 class="text-general-geo">
                In a short time you will receive a message on email with your reset link password!
            </h2>
            <a class="btn btn-outline-success rounded-pill mt-3 px-4" href="{% url 'homepage' %}">Back to homepage</a>
        </div>
    </div>
</div>
{% endblock %}
