{% extends 'base.html' %}

{% block title %}MoneyManager | Password Changed{% endblock %}

{% block content %}
<div class="container-fluid px-3">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10 col-sm-12 mt-4">
            <div class="card shadow-sm text-center p-4">
                <h2 class="text-general-geo mb-3">
                    The password has been changed successfully!
                </h2>
                <a class="btn btn-outline-success rounded-pill text-general-geo" href="{% url 'homepage' %}">
                    Back to Homepage
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
