{% extends 'base.html' %}

{% block title %}MoneyManager | List of Categories{% endblock %}

{% block content %}
    <div class="container py-5">  {# container normal pentru centrare automată #}
        <h2 class="text-center mb-4">Category List</h2>

        {% if all_categories %}
            <div class="row justify-content-center">
                {% for category in all_categories %}
                    <div class="col-md-5 mb-4">
                        <div class="card h-100 shadow-sm">
                            <div class="card-body">
                                <h5 class="card-title text-general-geo">{{ category.name }}</h5>
                                <p class="card-text text-tabele-geo">
                                    <strong>Type:</strong> {{ category.get_is_income_display }}
                                </p>
                                <a href="{% url 'delete-category' category.id %}" class="btn btn-outline-danger rounded-pill">Delete</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <div class="alert alert-info text-center" role="alert">
                No categories created.
            </div>
        {% endif %}
    </div>
{% endblock %}
