{% load static %}

<link rel="stylesheet" href="{% static 'css/style.css' %}">

<nav class="navbar navbar-expand-lg nav-bar-geo shadow" data-bs-theme="dark">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav me-auto align-items-center">
                <li>
                    <a class="navbar-brand" href="{% url 'homepage' %}">
                    <img src="{% static '/images/logo.png' %}" class="img-fluid" style="max-height:45px;" alt="LogoMoneyManager">
                    </a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link text-navbar-geo" href="{% url "dashboard" %}" role="button" aria-expanded="false">
                            Dashboard
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-navbar-geo" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Transactions
                        </a>
                            <ul class="dropdown-menu text-navbar-dropdown-geo">
                                <li><a class="dropdown-item" href="{% url 'add-transaction' %}">Create Transaction</a></li>
                                <li><a class="dropdown-item" href="{% url 'list-of-transactions' %}">Transactions History</a></li>
                            </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-navbar-geo" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Category
                        </a>
                            <ul class="dropdown-menu text-navbar-dropdown-geo">
                                <li><a class="dropdown-item" href="{% url 'add-category' %}">Create Category</a></li>
                                <li><a class="dropdown-item" href="{% url 'list-category' %}">Category List</a></li>
                            </ul>
                    </li>
                {% endif %}
            </ul>
        </div>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto align-items-center">
                {% if user.is_authenticated %}
                    {% if total_money < 0 %}
                        <li>
                            <span class="text-navbar-geo">
                                Balance({{ year }}):
                                <span style="color: red" class="text-general-geo">{{ total_money|floatformat:0 }} RON </span>|
                            </span>
                        </li>
                    {% else %}
                        <li>
                            <span class="text-navbar-geo">
                                Balance({{ year }}): {{ total_money|floatformat:0 }} RON |
                            </span>
                        </li>
                    {% endif %}

                    <li>
                        <a type="button" class="nav-link dropdown-toggle text-navbar-geo" data-bs-toggle="dropdown" aria-expanded="false">
                            {{ full_name }}
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end text-navbar-dropdown-geo">
                            <li><a class="dropdown-item" href="{% url "view-profile" user.id%}">View Profile</a></li>
                            <li><a class="dropdown-item" href="{% url "edit-profile" user.id%}">Edit Profile</a></li>
                            <li><a class="dropdown-item" href="{% url "password_change"%}">Change password</a></li>
                            <li>
                                <form method="POST" action="{% url "logout" %}">
                                    {% csrf_token %}
                                    <button class="dropdown-item" type="submit">Logout</button>
                                </form>
                            </li>
                        </ul>
                    </li>
                {% else %}
                    <li class="nav-item me-4">
                        <a class="nav-link text-navbar-geo" href="{% url 'login' %}">Login</a>
                    </li>
                    <li class="nav-item me-4">
                        <a class="nav-link text-navbar-geo" href="{% url 'create-user' %}">Sign-Up</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

