{% load static %}

<nav class="navbar navbar-expand-lg" style="background: linear-gradient(90deg, #0f2027, #203a43, #2c5364);"
     data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand me-4" href="{% url 'homepage' %}">
            <img src="{% static '/images/logo.png' %}" width="55" height="55" alt="LogoMoneyManager">
            <span class="ms-3"
                  style="color: #ffffff; font-family: 'Roboto', sans-serif; font-weight: 550; line-height: 48px; font-size: 25px;">
                Money Manager
            </span>
        </a>
        {% if user.is_authenticated %}
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url "dashboard" %}" role="button"
                       aria-expanded="false"
                       style="color: #ffffff; font-weight: 550; font-size: 18px; line-height: 48px; font-family: 'Roboto', sans-serif;">
                        Dashboard
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false"
                       style="color: #ffffff; font-weight: 550; font-size: 18px; line-height: 48px; font-family: 'Roboto', sans-serif;">
                        Transactions
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'add-transaction' %}">Add Transaction</a></li>
                        <li><a class="dropdown-item" href="{% url 'list-of-transactions' %}">All Transactions</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
            </ul>

            <ul class="navbar-nav ms-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false"
                       style="color: #ffffff; font-weight: 550; font-size: 18px; line-height: 48px; font-family: 'Roboto', sans-serif;">
                        Category
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'add-category' %}">Add Category</a></li>
                        <li><a class="dropdown-item" href="{% url 'list-category' %}">All Category</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
            </ul>{% endif %}

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                {% if user.is_authenticated %}
                    <li>
                        <form method="POST" action="{% url "logout" %}">
                            {% csrf_token %}
                            <button type="submit" class="btn nav-link px-2 py-1"
                                    style="background: linear-gradient(90deg, #43788f, #305b6e); color: white; font-weight: 550; font-size: 18px; font-family: 'Roboto', sans-serif;">
                                Logout {{ user.username|title }}</button>
                        </form>
                    </li>
                {% else %}
                    <li class="nav-item me-4">
                        <a class="nav-link" href="{% url 'login' %}"
                           style="color: #ffffff; font-weight: 550; font-size: 18px; line-height: 48px; font-family: 'Roboto', sans-serif;">Login</a>
                    </li>
                    <li class="nav-item me-4">
                        <a class="nav-link" href="{% url 'create-user' %}"
                           style="color: #ffffff; font-weight: 550; font-size: 18px; line-height: 48px; font-family: 'Roboto', sans-serif;">Sign-Up</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

