{% extends 'base.html' %}

{% block title %}MoneyManager | Edit Transaction{% endblock %}

{% block content %}
<div class="container-fluid px-3">
    <br>
    <div class="row">
        <div class="col-lg-8 col-md-10 col-sm-12 mx-auto">
            <div class="card shadow-sm mt-2">
                <div class="card-header text-dark border-0 text-center geo-color-bar">
                    <span class="title-geo text-white">
                        Edit "{{ usertransactions.category.name }}" Transaction
                    </span>
                </div>
                <form method="POST" class="p-3">
                    <div class="card-body mb-3 text-general-geo">
                        {% csrf_token %}
                        {{ form }}
                    </div>
                    <div class="text-center mb-1 text-general-geo">
                        <button type="submit" class="btn btn-outline-success">SAVE</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
